build/
.idea

"https://miare-staging.s3.ir-thr-at1.arvanstorage.com/media/banners/4A2D26WMQS45KX06.png?AWSAccessKeyId=c3b038d4-1a21-47bf-aa38-6283b15fd91c&Signature=%2FyWbWOaXtZNuUeY%2F9GkTt3%2Fph4k%3D&Expires=1660478782
